/*.size{*/
    /*width  : 100px;*/
    /*height : 100px;*/
/*}*/
table{
    th : 100px;
    tr : 150px;
    /*background-color: green;*/
}

container{
    vertical-align: center;
}
.center{
    align : center;
}